* {
    box-sizing: border-box;
}

img {
    vertical-align: middle;
}

body {
    font-family: sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.funny {
    padding: 10px;
    border: 1px solid #808080;
    border-radius: 6px;
}

.similarity-d-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}